---
---

- is_embedded ||= false

%article.article
  %header
    %h1
      - if is_embedded
        %a{:href => route_path(item)}= item[:title]
      - else
        = item[:title]
    %p.excerpt= item[:excerpt]
    %time{:datetime => item[:created_at]}
      %span.month= article_time_month(item[:created_at])
      %span.day= article_time_day(item[:created_at])

  != content || partial(item)