---
---
:ruby
  # may be set by partials
  @config[:include_disqus_js] = false

!!!
%html.no-js
  %head
    %title= "#{@item[:title]} - Matsimitsu.com"
    %meta{:charset => 'utf-8'}
    %meta{:name => 'description', :content => (@item[:excerpt] ? @item[:excerpt] : site_description)}
    %link{:href => '/assets/css/site.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '/assets/javascripts/modernizr-17.js'}
    = render('_ganalytics')

  %body
    -# needed since some content render <pre> blocks
    - content = find_and_preserve(yield)
    %header
      %h1.logo
        %a{:href => '/'} Matsimitsu
      %h2.subtext
        %span Personal weblog of Robert Beekman

      %nav
        %ul
          %li.active
            %a(href='/') Home
          %li
            %a(href='/archives.html') Blog
    #main
      .wrap
        - if @item[:kind] == 'article'
          = render('_article', :item => @item, :content => content)
          - if disqus_shortname && !is_front_page?
            = render('_disqus', :item => @item)
        - else
          = content
    %footer
      .wrap
        %p
          Passionately designed by
          %a{:href => 'http://ivanasetiawan.com', :title => "Ivana Setiawan"} Ivana Setiawan

    %script{:type => 'text/javascript', :src => '/assets/javascripts/jquery-161.js'}
    %script{:type => 'text/javascript', :src => '/assets/javascripts/tapirgo.js'}
