---
---
:ruby
  # may be set by partials
  @config[:include_disqus_js] = false

!!!
%html.no-js
  %head
    %title= "#{@item[:title]} - Matsimitsu.com"
    %meta{:charset => 'utf-8'}
    %meta{:name => 'description', :content => (@item[:excerpt] ? @item[:excerpt] : site_description)}
    %link{:href => '/assets/css/site.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => '/assets/javascripts/modernizr-17.js'}
    = render('_ganalytics')

  %body
    -# needed since some content render <pre> blocks
    - content = find_and_preserve(yield)
    %header
      .wrap
        %nav
          %ul
            %li
              %a(href='/') Home
            %li
              %a(href='/about.html') About
            %li
              %a(href='/projects.html') Projects
            %li
              %a(href='/blog') Blog
            %li
              %a(href='/atom.xml') rss
            %li
              %form(method="get" action="/search.html")
                %input(type="search" placeholder="Search" name="query")
        %h1.logo Matsimitsu
        %div.subtext Personal weblog of Robert Beekman
    #main
      .wrap
        - if @item[:kind] == 'article'
          = render('_article', :item => @item, :content => content)
          - if disqus_shortname && !is_front_page?
            = render('_disqus', :item => @item)
        - else
          = content
    %footer
      .wrap
        %p
          Passionately designed by
          %a{:href => 'http://ivanasetiawan.com', :title => "Ivana Setiawan"} Ivana Setiawan

    %script{:type => 'text/javascript', :src => '/assets/javascripts/jquery-161.js'}
    %script{:type => 'text/javascript', :src => '/assets/javascripts/tapirgo.js'}
